.about{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_img{
        @include bagImg;
        z-index: 9;
    }
    &_cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $background-gray4;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: 157px;
        padding: 0 15px;
        @include sm {
            margin-top: 60px;
        }
        .sub-title{
            margin: 119px 0 49px;
            @include sm {
                margin: 58px 0 30px;
            }
        }
        .general_paragraph{
            max-width: 579px;
            margin-bottom: 10px;
        }
        &_bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: $background-gray4;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 0 15px;
            .general_paragraph{
                max-width: 579px;
                margin-bottom: 89px;
                @include sm {
                    margin-bottom: 31px;
                }
            }
        }
    }
    &_gallery{
        display: block;
        position: relative;
        padding: 40px 0;
        z-index: 99;
        @include lg {
            justify-content: space-around;
        }
        & .slick-slider{
            z-index: 999;
            & .slick-slide{
                padding: 0 10px;
                box-sizing: border-box;
            }
            .slick-dots{
                bottom: 25px;
                & li{
                    margin: 0;
                   & button:before{
                       font-size: 13px;
                        opacity: 1;
                        color: $color-gray;
                    }
                    &.slick-active{
                        & button:before{
                            color: $color-white;
                            opacity: 1;
                        }
                    }
                } 
            }
        }
        &_img{
            width: 100%;
            max-width: 360px;
            object-fit: cover;
            border-radius: 15px;
            margin: 0;
            z-index: 99;
            @include sm {
                max-width: 100%;
            }
        }
        &_outside{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            margin: 0 auto;
            width: 100%;
            height: 100%;
            max-width: 924px;
            background: $background-gray4;
            z-index: 9;
        }
    }
}