.teaser{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &_img{
        @include bagImg;
    }
    &_cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        background: $background-gray2;
        border-radius: 20px;
        padding: 97px 107px 111px;
        box-sizing: border-box;
        @include md {
            padding: 97px 75px 111px;
            margin: 112px 0 60px;
        }
        @include sm {
            padding: 43px 16px 49px;
        }
        &_title{
            display: block;
            color: $color-white;
            text-align: center;
            font-size: 48px;
            line-height: 66px;
            font-weight: 800;
            @include sm {
                font-size: 22px;
                line-height: 30px;
            }
            &-red{
                display: block;
                color: $color-red;
            }
        }
        &_form-normal{
            display: flex;
            justify-content: space-between;
            background-color: $color-white;
            padding: 22px 16px;
            border-radius: 20px;
            @include sm {
                flex-wrap: wrap;
                justify-content: center;
                background-color: transparent;
                padding: 0;
            }
            & .general-button{
                @include sm {
                    margin-top: 15px;
                    max-width: 370px;
                    width: 100%;
                }
            }
            @include xs {
                flex-direction: column;
                align-items: center;
            }
            &_block{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0 20px;
                overflow: hidden;
                @include sm {
                    background-color: $color-white;
                    padding: 14px 20px;
                    margin: 8px 0;
                }
                @include xs {
                    border-radius: 20px;
                    max-width: max-content;
                    min-width: 185px;
                    box-sizing: border-box;
                }
                &:first-child{
                    padding: 0 20px 0 0;
                    @include sm {
                        background-color: $color-white;
                        padding: 14px 20px;
                        border-bottom-left-radius: 20px;
                        border-top-left-radius: 20px;
                    }
                }
                &:nth-child(2){
                    @include sm {
                        border-bottom-right-radius: 20px;
                        border-top-right-radius: 20px;
                    }
                }
                &:nth-child(3){
                    @include sm {
                        width: 100%;
                        justify-content: center;
                        background-color: transparent;
                        padding: 0;
                        border-radius: 0;
                    }
                    .teaser_cont_form-normal_block_data{
                        &_outside{
                            &:after{
                                content: '';
                                position: absolute;
                                right: 0;
                                top: 5px;
                                width: 12px;
                                height: 100%;
                                background: url('./../../static/icons/arrow.svg') no-repeat;
                                background-position: center;
                            }
                            input{
                                color: $color-red;
                                &::placeholder {
                                    color: $color-red;
                                    opacity: 1; 
                                  }
                                &:-ms-input-placeholder { 
                                    color: $color-red;
                                  }
                                &::-ms-input-placeholder {
                                    color: $color-red;
                                  }
                            }
                        }
                        @include sm {
                          background-color: $color-white;
                          padding: 14px 20px;
                          border-radius: 20px;
                        }
                    }
                } 
                &_data{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    max-width: 145px;
                    width: 100%;
                    cursor: pointer;
                    &_outside{
                        width: 100%;
                        position: relative;
                        &:after{
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 5px;
                            width: 12px;
                            height: 100%;
                            background: url('./../../static/icons/arrow.svg') no-repeat;
                            background-position: center;
                        }
                        input{
                            width: 100%;
                            margin-top: 8px;
                            border: none;
                            outline: none;
                            font-weight: 900;
                            font-size: 18px;
                            line-height: 25px;
                            position: relative;
                            color: transparent;
                            z-index: 9;
                            background-color: transparent;
                            cursor: pointer;
                            &::-webkit-inner-spin-button { display: none; }
                            &::-webkit-calendar-picker-indicator { 
                                background: transparent;
                                color: transparent;
                                font-size: 8px;
                                cursor: pointer;
                                display: block;
                                opacity: 1;
                                }
                            &::placeholder {
                                color: transparent;
                                opacity: 1; 
                              }
                              
                            &:-ms-input-placeholder { 
                                color: transparent;
                              }
                            &::-ms-input-placeholder {
                                color: transparent;
                              }
                        }
                    }
                    img{
                        margin-right: 10px;
                        width: 11px;
                        height: 11px;
                    }
                    span{
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 22px;
                        color: $color-black;
                    }
                    p{
                        position: absolute;
                        z-index: 99;
                        width: 80%;
                        height: 100%;
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        top: 0;
                        background-color: white;
                        left: 0;
                        padding-top: 12px;
                        box-sizing: border-box;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 16px;
                        color: $color-black;
                        cursor: e-resize;
                        span:first-child, span:nth-child(3){
                            font-weight: 900;
                            font-size: 21px;
                            color: $color-red;
                        }
                        span{
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        &_thanks{
            display: flex;
            justify-content: center;
            background-color: $color-white;
            padding: 17px 16px;
            border-radius: 20px;
            @include sm {
                display: inline-block;
                margin: 0 auto;
                min-width: 400px;
            }
            @include xsl {
                min-width: 100%;
                box-sizing: border-box;
            }
            &_title{
                display: block;
                color: $color-red;
                text-align: center;
                font-size: 48px;
                line-height: 67px;
                font-weight: 800;
                margin: 0;
                @include sm {
                    font-size: 22px;
                    line-height: 30px;
                }
            }
        }
    }
}