
$background-gray : rgba(0, 0, 0 ,0.7);
$background-gray2: rgba(60, 66, 77, 0.85);
$background-gray3: #3C424D;
$background-gray4: rgba(60, 66, 77, 0.9);
$background-white: rgba(255, 255, 255, 0.3);


$color-white   : #ffffff;
$color-black   : #000000;
$color-red     : #F44767;
$color-gray   : #C4C4C4;


$font-avenir:  'Avenir Next', sans-serif;